server:
  port: 8080

spring:
  application:
    name: analytics-web
  kafka:
    bootstrap-servers: ${KAFKA_BROKERS:localhost:9092}

management:
  endpoints:
    web:
      exposure:
        include: health,info
